{% extends "deeplearning/base.html" %}
{% load static %}
{% block content %}
<article class="about-section py-5">
	<div class="container">
		<h2 class="title mb-3">About Me</h2>
		<p>Abdul Rahman, data and security enthusiast, and business development professional. Passionate about applying
			artificial intelligence (AI) and machine learning to agriculture, finance, and wireless communication.
			He is a curious learner and collaborative colleague working on some of the most cutting-edge and fun
			problems of AI.</p>
		<figure><img class="img-fluid" src="{% static 'deeplearning/images/about.png' %}" alt="image"></figure>
		<h5 class="mt-5">Background and education</h5>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, ea. Atque accusamus delectus ipsum quidem,
			tempora similique iusto aspernatur esse dolor odio. Saepe molestias itaque perferendis ratione blanditiis,
			ea hic?</p>
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta fugit commodi, est earum, quae voluptatem
			quaerat ipsum, voluptas atque iusto enim qui debitis! Commodi, officia illum? Inventore, labore! Suscipit,
			voluptatum?</p>
		<h5 class="mt-5">Professional Career</h5>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis numquam dicta beatae, ratione quo libero
			doloremque blanditiis, voluptates molestias doloribus repellendus quibusdam? Modi ut consectetur
			perspiciatis. Laboriosam mollitia id at!</p>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium reiciendis, sunt ut
			perspiciatis minus dolorum quod nulla, non suscipit explicabo autem nobis labore optio similique enim?
			Facere, hic laborum!</p>
		<h5 class="mt-5">My Skills and Experiences</h5>
		<ul>
			<li>Computational Thinking</li>
			<li>Deep Learning</li>
			<li>Regression</li>
			<li>Classification</li>
			<li>Time Series</li>
			<li>Business Intelligence</li>
			<li>Data Analysis</li>
			<li>Big Data Science</li>
			<li>Predictive Modeling</li>
		</ul>
		<h5 class="mt-5">Side Projects</h5>
		<p>Coming soon...</p>
	</div>
</article>
<!--//about-section-->
</section> -->
{% endblock %}